name: Reusable Workflow Source


on:
  workflow_call:
    inputs:
      puppy:
        required: true
        type: string
      environment:
        description: "Target GitHub environment name (e.g. staging, production)"
        required: true
        type: string
    secrets:
      # NOTE: You can only pass repo/org secrets here, not environment secrets
      PUPPY_REPOSITORY_SECRET:
        required: true
        
jobs:
  reusable-workflow-job:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-24.04

    steps:
      - name: job in reusable workflow
        env:
          # explicit input
          PUPPY: ${{ inputs.puppy }}
          # from repo/org level
          EXAMPLE_REPOSITORY_SECRET: ${{ secrets.EXAMPLE_REPOSITORY_SECRET }}
          # from the **environment** selected above
          EXAMPLE_ENVIRONMENT_SECRET: ${{ secrets.PUPPY_ENVIRONMENT_SECRET }}
          EXAMPLE_ENVIRONMENT_VARIABLE: ${{ vars.PUPPY_ENVIRONMENT_VARIABLE }}
        run: |
          echo "PUPPY                           = $PUPPY"
          echo "EXAMPLE_REPOSITORY_SECRET     = $EXAMPLE_REPOSITORY_SECRET"
          echo "EXAMPLE_ENVIRONMENT_SECRET    = $EXAMPLE_ENVIRONMENT_SECRET"
          echo "EXAMPLE_ENVIRONMENT_VARIABLE  = $EXAMPLE_ENVIRONMENT_VARIABLE"
